html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	margin: 0;
	padding: 0;
	font: 12px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #555;
}
body .logo_footer {
	display: block;
	width: 300px;
	height: 100px;
	background-image: url(../img/logo6.png);
	background-repeat: no-repeat;
	text-indent: -2000px
}
body .logo_top {
	display: block;
	width: 230px;
	height: 60px;
	background-image: url(../img/logo5.png);
	background-repeat: no-repeat;
	text-indent: -2000px
}
hr {
	color: pink;
	background-color: #666;
	height: 1px;
}
a {
	color: #666;
}
#content {
	width: 65%;
	max-width: 690px;
	margin: 6% auto 0;
}
/*
 Pretty Table Styling
 CSS Tricks also has a nice writeup: http://css-tricks.com/feature-table-design/
 */

table {
	overflow: hidden;
	border: 1px solid #d3d3d3;
	background: #fefefe;
	width: 90%;
	margin: 2% auto 0;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3-4 */
	border-radius: 5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.admin table {
	overflow: hidden;
	border: 1px solid #d3d3d3;
	background: #fefefe;
	width: 400px;
	margin: 2% auto 0;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3-4 */
	border-radius: 5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
th, td {
	padding: 8px 8px 8px;
	text-align: center;
}
th {
	padding-top: 22px;
	text-shadow: 1px 1px 1px #fff;
	background: #e8eaeb;
}
td {
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
tr.odd-row td {
	background: #f6f6f6;
}
td.first, th.first {
	text-align: left
}
td.last {
	border-right: none;
}
/*
 Background gradients are completely unnecessary but a neat effect.
 */

td {
	background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}
tr.odd-row td {
	background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}
th {
	background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
	background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}
/*
 I know this is annoying, but we need additional styling so webkit will recognize rounded corners on background elements.
 Nice write up of this issue: http://www.onenaught.com/posts/266/css-inner-elements-breaking-border-radius

 And, since we've applied the background colors to td/th element because of IE, Gecko browsers also need it.
 */

tr:first-child th.first {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px; /* Saf3-4 */
}
tr:first-child th.last {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px; /* Saf3-4 */
}
tr:last-child td.first {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px; /* Saf3-4 */
}
tr:last-child td.last {
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px; /* Saf3-4 */
}
.wrapper {
	width: 940px;
	margin:0;
}
.result_message {
	font-size: 0.8em;
	font-style: italic;
	margin: 2px 0 2px 10px;
}
audio {
	position: relative;
	top: -2px;
	width: 210px;
	display: inline;
	margin: 6px;
}
select {
	position: relative;
	top: -2px;
	width: 50px;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 34px;
}
.submit_button {
	border-radius: 6px 6px 6px 6px;
	box-shadow: 2px 2px 6px #232323;
	color: #16153B;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	padding: 2px 6px;
	text-decoration: none;
	text-shadow: 0 0 2px #C9C3E6;
}
.admin{
	float:left;
}
.playlist {
	float: left;
	width : 400px;
	padding: 0;
}
.searchresults{
	float:right;
	width: 600px;
	margin-right: -60px;
}
.width{
	width: 100%
}

